apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: 'kubernetes-services'
        scrape_interval: 15s
        static_configs:
          - targets:
            - 'authentication-service:80'
            - 'chatting-service:80'
            - 'notification-service:80'

      # Kubernetes components (if needed) can be added here.
