apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5173
      nodePort: 30000
  type: NodePort   # use LoadBalancer if deploying to cloud (e.g. GKE, AKS)
