<script>
  window.__ENV__ = {
    VITE_AUTH_SERVICE_URL: "__VITE_AUTH_SERVICE_URL__",
    VITE_USER_SERVICE_URL: "__VITE_USER_SERVICE_URL__",
    VITE_CHAT_SERVICE_URL: "__VITE_CHAT_SERVICE_URL__",
    VITE_NOTIFICATION_SERVICE_URL: "__VITE_NOTIFICATION_SERVICE_URL__"
  };
</script>
