apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-deployment
  namespace: chat-app

spec:
  replicas: 3
  selector:
    matchLabels:
      app: notification
  template:
    metadata:
      labels:
        app: notification
    spec:
      containers:
      - name: notification-container
        image: moka12/notification:latest
        ports:
        - containerPort: 80
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Development"
        - name: ConnectionStrings__RabbitMq
          value: "amqp://guest:guest@rabbitmq-service:5672"
        - name: UserService__Url
          value: "http://user-service-cluster-ip:80"
        - name: Authentication__Url
          value: "http://authentication-service-cluster-ip:80"
        - name: ChattingService__Url
          value: "http://chatting-cluster-ip:80"