apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service-deployment
  namespace: chat-app

spec:
  replicas: 3
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service-container
        image: moka12/user:latest
        ports:
        - containerPort: 80
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: "Development"
        - name: ConnectionStrings__MongoDb
          value: "mongodb://admin:admin@mongodb-service:27017/UserDb?authSource=admin"
        - name: ConnectionStrings__RabbitMq
          value: "amqp://guest:guest@rabbitmq-service:5672"
        - name: Authentication__Url
          value: "http://authentication-service-cluster-ip:80"